.container-banglavumi {
    color: rgb(219, 10, 38);
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    font-family: 'Galada', cursive;
    margin: 10px;
    text-align: center;

}

.cointainer-adminerkotha{
    color: rgb(219, 10, 38);
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Galada', cursive;
    





}